*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Space Grotesk";
    src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

header {
    height: 150px;
    background-color: black;
    z-index: 5;
    position: fixed;
    padding: 4rem 8% 4rem;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white ;
    font-family: "Space Grotesk";
    font-size: 26px;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: white;
    color:#21DFD4;
}

#Sobre {
    background-color: black;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 25%;
}

#Sobre .title {
    color: White;
    font-family: "Space Grotesk";
    font-size: 30px;
}

#Sobre a {
    color: White;
    font-family: "Space Grotesk";
    font-size: 20px;
    text-decoration: underline transparent;
    position: relative;
    top: 30px;
    right: 60px;
}

#Sobre img {
    width: 350px;
    height: 350px;
}

#Cursos {
    background-color: black;
    height: 1000px;
    text-align: center;
}

#Cursos h2 {
    color: #21DFD4;
    font-family: "Space Grotesk";
    font-size: 30px;
    text-decoration: underline transparent;
}

.container-cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.card img {
    height: 70%;
    width: 75%;
    margin-top: 20px;
    opacity: 90%;
    border-radius: 50px;
}

.card3 img {
    height: 70%;
    width: 75%;
    margin-top: 20px;
    opacity: 90%;
    border-radius: 50px;
}

.card {
    width: 350px;
    height: 250px;
    background-color:black;
    border-color: #21DFD4;
    border-radius: 50px;
}

.card3 {
    width: 350px;
    height: 250px;
    background-color: black;
    border-color: #21DFD4;
    border-radius: 50px;
    margin-left: 585px;
    margin-top: 100px;
}

.card button {
    
    width: 75%;
    height: 40px;
    
    background-color: var(--azulescuro-Ready) ;
    
    border: none;
    border-radius: 8px;
    
    color: #ffffff;
    
    font-family: 'Padauk';
    font-size: 26px;
    font-weight: 600;
    
    cursor: pointer;
    
    transition: background-color 500ms;

    margin-bottom: 20px;
}

.card3 button {
    
    width: 75%;
    height: 40px;
    
    background-color: var(--azulescuro-Ready) ;
    
    border: none;
    border-radius: 8px;
    
    color: #fdfdfd;
    
    font-family: 'Padauk';
    font-size: 26px;
    font-weight: 600;
    
    cursor: pointer;
    
    transition: background-color 500ms;

    margin-bottom: 20px;
}

#Redes {
    height: 700px;
    background-color: black;
    text-align: center;
}

#Redes h2 {
    color: #21DFD4;
    font-family: "Space Grotesk";
    font-size: 30px;
    text-decoration: underline transparent;
}

#Redes p {
    color: white;
}

.redess {
    display: flex;
    justify-content: space-evenly;
}

.redess img {
    width: 100px;
    height: 100px;
    margin-top: 200px;
}